In [4]:
import pandas as pd, numpy as np
import random,requests
from bs4 import BeautifulSoup
from faker import Faker

import vaex

import numpy as np
import pylab as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

#initialize Faker
fake=Faker()
Faker.seed(4321)

In [5]:
names=[]
address=[]
company=[]

n_names=200
for n in range(n_names):
    names.append(fake.name())
    address.append(fake.address())
    company.append(fake.company())

In [36]:
from numpy.random import randint
from numpy.random import rand

In [ ]:
column_names = []

In [74]:
df = pd.DataFrame()

In [75]:
df.columns

Index([], dtype='object')

In [76]:
NumColumns = 100
temp3 = rand(NumColumns, 1)
temp = [fake.name()] + [fake.address()] + [fake.company()] + list(randint(100, size=NumColumns)) +  temp3.flatten().tolist()

In [77]:
print(temp)

['James Curry', 'PSC 9053, Box 2401\nAPO AE 42402', 'Carson PLC', 14, 47, 55, 64, 13, 78, 8, 54, 72, 5, 20, 6, 53, 64, 94, 55, 24, 23, 5, 2, 86, 30, 97, 52, 36, 47, 95, 18, 45, 73, 64, 69, 19, 38, 98, 95, 7, 35, 84, 1, 3, 41, 73, 20, 50, 92, 69, 11, 68, 13, 90, 56, 69, 7, 23, 1, 74, 68, 50, 8, 21, 86, 54, 99, 16, 81, 67, 25, 74, 89, 57, 41, 70, 32, 78, 80, 35, 70, 40, 89, 77, 34, 29, 8, 65, 75, 87, 1, 71, 19, 35, 8, 57, 53, 34, 98, 80, 95, 62, 16, 0.6685608349122469, 0.9523571074413099, 0.3137407974686376, 0.7986324778817822, 0.6588053835862325, 0.17512930753395928, 0.876840662526897, 0.8172954021265441, 0.6389106255648537, 0.8707129573000448, 0.14189606121859621, 0.7351437407441932, 0.9884367861914152, 0.012473292958665727, 0.07218290320279652, 0.8561739474312611, 0.6428667778645148, 0.530967415222477, 0.5082824224393835, 0.875151575608086, 0.7440316305270782, 0.8571521898675306, 0.6686281959458988, 0.5643585939807471, 0.6588394017442232, 0.08593955124106412, 0.4981405452759299, 0.05418938958184982, 0.964278215413973, 0.6428077058382156, 0.8140584058640157, 0.640153073490371, 0.11841190610860008, 0.0876460652681682, 0.17578164053956236, 0.7937135043555168, 0.9594543793050646, 0.48142363187867, 0.017900545770073495, 0.4327132503070612, 0.19684895406862468, 0.5048662846735791, 0.5008597369207881, 0.9926147176261995, 0.8474780786808502, 0.274993544254875, 0.5464175357922081, 0.6189216543148249, 0.5504138603223317, 0.3934367889030925, 0.14209900652870888, 0.19783119059116372, 0.3046067344338952, 0.24981454876650222, 0.5852768753421606, 0.2811976149805546, 0.6860312556281577, 0.289855121063619, 0.1557776995206378, 0.9702184814240568, 0.6059805608623637, 0.12859435625510973, 0.7486076560334646, 0.8003027197874706, 0.7491987841797176, 0.6272612068748943, 0.4937594314295748, 0.9246070930570564, 0.3380565926782181, 0.5881150823073671, 0.04993605509472765, 0.7755075170263886, 0.5802107827558843, 0.9154185821407462, 0.5945075012769152, 0.3822500548792349, 0.7805381872921671, 0.06452838973883535, 0.30858194639189873, 0.00994169510721099, 0.7007584254888433, 0.17074198607119528, 0.3584559693500373, 0.26792055667747827, 0.7387402535887816, 0.6068411731790343, 0.8141222508226601, 0.9907531057243029, 0.7938059033656305, 0.2780573594918756, 0.8407058150088242, 0.6408903558493025, 0.1305227265052673, 0.8242652883056852, 0.6350751934885827, 0.03633813465961577, 0.12043744826384895, 0.853343590869007, 0.45166896200656137, 0.67172505589598]

In [78]:
for i in range(200):
    temp3 = rand(NumColumns, 1)
    temp = [fake.name()] + [fake.address()] + [fake.company()] + list(randint(100, size=NumColumns)) +  temp3.flatten().tolist()
    df.loc[i] = temp

ValueError: cannot set a frame with no defined columns

In [42]:
df.head(5)

,name,address,company,qty1,qty2,qty3,qty4,qty5,qty6,qty7,qty8,qty9,qty10
0,Earl Anderson,"7887 Rebecca Plaza Suite 743\nSouth Ronnie, GA...","Copeland, Mendoza and Rodgers",2,5,2,7,2,3,0,2,6,4
1,Kathleen Owens,"53156 Samuel Falls\nCurtisshire, AZ 97255",Carey-Spencer,6,6,3,6,7,9,8,6,3,3
2,James Butler,"68437 Bailey Bypass\nNew Lisa, CT 29825","Burnett, Olson and Campbell",3,3,3,7,4,8,9,8,6,1
3,Kimberly Payne,"87461 Mark Corners Suite 737\nRichardville, ID...",Williams-Wilson,0,6,9,9,4,5,4,0,7,9
4,Eric Levine,"14990 Mark Parkway\nChristopherview, NH 04927","Skinner, Velez and Ortiz",6,1,8,0,2,5,3,2,6,8

In [43]:
df.to_csv("E:/Data/pinnacle/SampleData.csv", index=False)

In [50]:
a = rand(1,10)

In [51]:
print(a)

[[0.98177571 0.2628173  0.73595381 ... 0.83433168 0.21723099 0.00954474]
 [0.00863157 0.53299775 0.81275385 ... 0.74624824 0.02530089 0.00148643]
 [0.87303584 0.84879709 0.81859102 ... 0.15125095 0.03192485 0.73191348]
 ...
 [0.09668523 0.95460982 0.11969158 ... 0.69404639 0.73791433 0.98964189]
 [0.08109133 0.35064614 0.15127997 ... 0.46308193 0.38225701 0.4091412 ]
 [0.61083015 0.03700089 0.94405771 ... 0.28000244 0.08647376 0.52938894]]