In [1]:
import pandas as pd, numpy as np
import random,requests
from bs4 import BeautifulSoup
from faker import Faker

import vaex

import numpy as np
import pylab as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [35]:
import time

In [8]:
hdf5_file = 'E:/Data/pinnacle/SampleData.h5'
csv_file = 'E:/Data/pinnacle/SampleData.csv'

In [9]:
#df.to_csv("E:/Data/pinnacle/SampleData.csv", index=False)
df = pd.read_csv(csv_file)

In [20]:
df.head(5)

  #  name            address                                               company                          qty1    qty2    qty3    qty4    qty5    qty6    qty7    qty8    qty9    qty10
  0  Earl Anderson   '7887 Rebecca Plaza Suite 743\nSouth Ronnie, GA 9...  Copeland, Mendoza and Rodgers       2       5       2       7       2       3       0       2       6        4
  1  Kathleen Owens  53156 Samuel Falls                                    Carey-Spencer                       6       6       3       6       7       9       8       6       3        3
                     Curtisshire, AZ 97255
  2  James Butler    68437 Bailey Bypass                                   Burnett, Olson and Campbell         3       3       3       7       4       8       9       8       6        1
                     New Lisa, CT 29825
  3  Kimberly Payne  '87461 Mark Corners Suite 737\nRichardville, ID 7...  Williams-Wilson                     0       6       9       9       4       5       4       0       7        9
  4  Eric Levine     14990 Mark Parkway                                    Skinner, Velez and Ortiz            6       1       8       0       2       5       3       2       6        8
                     Christopherview, NH 04927

In [10]:
# SAVE as h5
df.to_hdf("hdf5_file", key='df', mode='w')

In [13]:
# %%time
# vaex_df = vaex.open(hdf5_file)

In [18]:
%%time
df = vaex.open(csv_file)

Wall time: 526 ms

In [22]:
%%time
df.qty1.mean()

Wall time: 11 ms

array(4.508765)

In [38]:
%%time
start_time = time.time()
above_5 = df[df["qty1"] > 5]
end_time_dfvaex_filter = time.time() - start_time

Wall time: 2 ms

In [29]:
len(above_5)

80271

In [30]:
len(df)

200000

In [33]:
%%time
df_pd = pd.read_csv(csv_file)

Wall time: 444 ms

In [37]:
%%time
start_time = time.time()
above_5_pd = df_pd[df_pd["qty1"] > 5]
end_time_df_filter = time.time() - start_time

Wall time: 18 ms

In [41]:
print(end_time_dfvaex_filter, end_time_df_filter)

0.0020029544830322266 0.018002748489379883